@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
* { font-family: 'Raleway', sans-serif; }

body{
  font-family: 'open sans';
  margin: 0;
}

.home {
	width: 100%;
	height: 100%;
}

.main-container {
	width: 100%;
	display: table;
}

.header {
	width: 100%;
	height: 50px;
	border: 1px solid #999;
	border-width: 0px 0px 1px 0px;
	padding: 10px 20px 10px 40px;
}

.main-container .aside-menu {
	display: table-cell;
	width: 25%;
	background-color: #ddd;
	padding: 40px;
  height: 100vh;
}

.menu-bar p:hover {
	cursor: pointer;
}

.wrapper {
	width: 75%;
	padding: 40px;
}

.wrapper .content p {
  line-height: 25px;
  padding-bottom: 5px;
}

.grey-box {
  background-color: #eee;
  padding: 15px;
  border-radius: 10px;
}

.grey-box img {
  width: 98%;
  margin: 1%;
}

.standart-btn {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #eee;
  font-size: 16px;
}

.standart-btn:hover {
  cursor: pointer;
}

.orange-btn {
  color: white;
  background-color: #DA5F29;
}

.grey-box input {
  display: block;
  width: 100%;
  height: 28px;
}

.grey-box label {
  display: block;
  padding-bottom: 4px;
}

.form-control {
  display: block;
  padding: 8px 0px;
}
