@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
* { font-family: 'Raleway', sans-serif; }

body{
  font-family: 'open sans';
  margin: 0;
}

.home {
	width: 100%;
	height: 100%;
}

.main-container {
	width: 100%;
	display: table;
}

/* --- Header --- */
header {
	width: 100%;
	height: 50px;
	border: 1px solid #999;
	border-width: 0px 0px 1px 0px;
	padding: 10px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  z-index: 5;
  background-color: white;
}

header .logo img {
  height: 24px;
}

header .navigation a {
  text-decoration: none;
  color: black;
  font-family: 'Raleway';
  padding: 2px 20px 0px 20px;
}

header .navigation a:hover {
  text-decoration: none;
}

header .form-btn, span {
  color: #f00;
  transition: .5s;
}
/* --- Header --- */

/* --- Form Container --- */
.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -100%;
  transition: .5s;
  z-index: 2;
}

.form-content {
  display: block;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 20px;
}

.form-control {
  display: block;
  padding: 10px 15px;
}

.form-control label {
  display: block;
  padding-bottom: 10px;
}

.form-control input[type="email"], input[type="password"], input[type="text"] {
  width: 320px;
  height: 32px;
  border-radius: 4px;
  padding-left: 10px;
  border-width: 1px;
}

.form-control label span {
  padding-right: 20px;
}

button, input[type="submit"] {
  width: 320px;
  height: 32px;
  border-radius: 4px;
  background-color: white;
}

/* --- Form Container --- */

.main-container .aside-menu {
	display: table-cell;
	width: 25%;
	background-color: #ddd;
	padding: 40px;
  height: 100vh;
}

.menu-bar p:hover {
	cursor: pointer;
}

.wrapper {
	width: 75%;
	padding: 40px;
}

.wrapper .content p {
  line-height: 25px;
  padding-bottom: 5px;
}

.grey-box {
  background-color: #eee;
  padding: 15px;
  border-radius: 10px;
}

.grey-box img {
  width: 98%;
  margin: 1%;
}

.standart-btn {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #eee;
  font-size: 16px;
}

.standart-btn:hover {
  cursor: pointer;
}

.orange-btn {
  color: white;
  background-color: #DA5F29;
}

.grey-box input {
  display: block;
  width: 100%;
  height: 28px;
}

.grey-box label {
  display: block;
  padding-bottom: 4px;
}

.form-control {
  display: block;
  padding: 8px 0px;
}

.err-txt {
  color: red;
}

.scs-txt {
  color: green;
}
